.car {
    border-radius: 10px;
    width: 150px;
    box-shadow: 19px 20px 38px rgb(0 0 0 / 54%);
    text-align: center;
    padding-top: 10px;
}

.car button {
    margin-top: 20px;
    width: 80px;
    margin-bottom: 15px;
}