.commentsWrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 40px;
}
.commentsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 19px 20px 38px rgb(0 0 0 / 54%);
    text-align: center;
    padding: 20px;
    margin-top: 15px;
}