.movieInfoWrap{
    display: flex;
    width: 70%;
    padding-top: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
    border: 1px solid #848480;
    border-radius: 10px;
    background: #585858 url(https://kinogo.zone/templates/tmp/images/bg.png) repeat-y;
}
.titleBlock{
    text-align: center;
    width: 637px;
    background: #4D4D4D;
    border: 1px solid #4D4D4D;
    margin-bottom: 13px;
    color: #A7ACAF;
    margin-top: -31px;
    padding: 4px;
    margin-left: 242px;
}
.titleBlock h1{
    font-size: 17px;
    text-shadow: 1px 1px #000;
    color: #c9c9c9;
    list-style-type: none;
    font-family: Tahoma, verdana, sans-serif;
    /*color: #a8a8a8;*/
    margin: 0;
    padding: 0;

}
.imgInfoBlock{
display: flex;
    margin-top: 30px;
    gap: 20px;
    margin-left: 261px;
}

.overview{
    width: 400px;
    font-family: Tahoma, verdana, sans-serif;
    color: #a8a8a8;
    padding-right: 15px;
}
.lastInfo{
    margin-left: 265px;
    margin-bottom: 30px;
}
.lastInfo ul{
    list-style-type: none;
    font-family: Tahoma, verdana, sans-serif;
    color: #a8a8a8;
    /*padding: 15px;*/
    /*font-size: 13px;*/
    line-height: 25px;
}
.lastInfo li span{
    padding: 5px;
    /*margin-top: 5px;*/
    font-size: 13px;
}
.commentsTitle{
    display: flex;
    align-items: center;
    gap:15px;
}
.comments img{
    border-radius: 50%;
    height: 40px;
}
.commentsTitle span{
    color: #7e7d7d;
    font-size: 20px;
}