.outlet {
    height: calc(100vh - 150px);
    overflow-y: auto;
}
.outlet button{
    background: cornflowerblue;
    color: snow;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.outlet button:hover{
    color: black;
}