.header {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 50px;
    background: cornflowerblue;
    font-size: 20px;
    /*color: snow;*/
}
.header a{
    margin-left: 20px;
    color: snow;
    text-decoration: none;
}
.outlet {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    /*width: 95%;*/
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    background: cornflowerblue;

    font-size: 20px;
    color: snow;
}