.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background: black;
    font-size: 40px;
    color: snow;
    gap: 30px;
}
.header a{
    color: snow;
    text-decoration: none;
}
.header a[class='active']{
    color: red;
}

.outlet {
    height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: auto;
    width: 95%;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    background: black;
    font-size: 20px;
    color: snow;
}