.header {
    min-height: 70px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a {
    font-size: 30px;
    color: snow;
    text-decoration: none;
}

.footer {
    min-height: 30px;
    background: black;
    color: snow;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    align-items: center;
}

.outlet {
    width: 90%;
    margin: 0 auto;
    height: calc( 100vh - 100px);
    overflow: hidden;
    overflow-y:auto ;
}