.header{
    min-height: 100px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a{
    font-size: 30px;
    color: snow;
    text-decoration: none;
}
