.form{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.formInputBlock{
    display: flex;
    gap: 30px;
    border-radius: 10px;
    /*border: 1px solid cornflowerblue;*/
    padding: 30px;
    box-shadow: 19px 20px 38px rgb(0 0 0 / 54%)
}